{% extends 'base.html.twig' %}

{% block title %}List{% endblock %}

{% block body %}
<h1> List prodect </h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">discreption</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Name 1</td>
      <td>discreption</td>
    <td>
     <button type="button" class="btn btn-primary">Edit</button>
     <button type="button" class="btn btn-primary">Delate</button>
    </td>
    </tr>
     <tr>
      <th scope="row">2</th>
      <td>Name 2</td>
      <td>discreption</td>
    <td>
     <button type="button" class="btn btn-primary">Edit</button>
     <button type="button" class="btn btn-primary">Delate</button>
    </td>
    </tr>
     <tr>
      <th scope="row">3</th>
      <td>Name 3</td>
      <td>discreption</td>
    <td>
     <button type="button" class="btn btn-primary">Edit</button>
     <button type="button" class="btn btn-primary">Delate</button>
    </td>
    </tr>
  </tbody>
</table>


</div>
{% endblock %}
